variables:
  - name: working-dir
    value: "sync_user_displayname"

trigger:
  branches:
    include:
      - main
  paths:
    include:
      - "sync_user_displayname/*"

schedules:
  - cron: "15 0 * * *"
    displayName: Users display name sync at 0:15 AM (UTC)
    branches:
      include:
        - main
    always: true

jobs:
  - job: syncUsersDisplayName
    timeoutInMinutes: 0
    pool:
      vmImage: ubuntu-latest
    strategy:
      matrix:
        Python310:
          python.version: "3.10"
    steps:
      - task: UsePythonVersion@0
        inputs:
          versionSpec: "$(python.version)"
        displayName: "Use Python $(python.version)"

      - script: python -m pip install --upgrade pip requests
        displayName: "Install dependencies"

      - task: PythonScript@0
        displayName: Synchronize users display name (selfcare)
        env:
          Z_USER: $(zendesk.user)
          Z_API_TOKEN: $(zendesk.token)
        inputs:
          scriptSource: "filePath"
          scriptPath: "$(working-dir)/sync_user_displayname.py"
          arguments: "_users_hc_selfcare"

      - task: PythonScript@0
        displayName: Synchronize users display name (send)
        env:
          Z_USER: $(zendesk.user)
          Z_API_TOKEN: $(zendesk.token)
        inputs:
          scriptSource: "filePath"
          scriptPath: "$(working-dir)/sync_user_displayname.py"
          arguments: "_users_hc_send"

      - task: PythonScript@0
        displayName: Synchronize users display name (cac)
        env:
          Z_USER: $(zendesk.user)
          Z_API_TOKEN: $(zendesk.token)
        inputs:
          scriptSource: "filePath"
          scriptPath: "$(working-dir)/sync_user_displayname.py"
          arguments: "_users_hc_cac"

      - task: PythonScript@0
        displayName: Synchronize users display name (bonus)
        env:
          Z_USER: $(zendesk.user)
          Z_API_TOKEN: $(zendesk.token)
        inputs:
          scriptSource: "filePath"
          scriptPath: "$(working-dir)/sync_user_displayname.py"
          arguments: "_users_hc_bonus"

      - task: PythonScript@0
        displayName: Sanitize users aux data
        env:
          Z_USER: $(zendesk.user)
          Z_API_TOKEN: $(zendesk.token)
        inputs:
          scriptSource: "filePath"
          scriptPath: "$(working-dir)/cleanup_users_auxdata.py"
